{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template local_elf_login/loginform

    ELF specific template for the login page.

    @package    local_elf_login
    @copyright  2020 Masaryk University
    @author     Vojtěch Mrkývka <vojtech.mrkyvka@gmail.com>

    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<div class="my-1 my-sm-5"></div>
<div class="row justify-content-center">
<div class="col-xl-6 col-sm-8 ">
<div class="card">
    <div class="card-block">
        {{#logourl}}
            <h2 class="card-header text-center" ><img src="{{logourl}}" class="img-fluid" title="{{sitename}}" alt="{{sitename}}"/></h2>
        {{/logourl}}
        {{^logourl}}
            <h2 class="card-header text-center">{{sitename}}</h2>
        {{/logourl}}
        <div class="card-body">
            {{#cansignup}}
                <div class="sr-only">
                    <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                </div>
            {{/cansignup}}

            {{#error}}
                <div class="loginerrors mt-3">
                    <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                    <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
                </div>
            {{/error}}

            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active elf-login-toggle" data-toggle="muni" href="#">{{#str}} teachers_and_students, local_elf_login {{/str}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link elf-login-toggle"  data-toggle="other" href="#">{{#str}} others_and_guests, local_elf_login {{/str}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            {{! Teachers and students section }}

            <div class="row justify-content-md-center elf-login elf-login-muni">
                <div class="col-md-10 mt-3">
                    <p class="text-center mt-3"><a href="{{shibboleth_path}}"><img src="{{muni_login_button}}" alt="{{#str}}login{{/str}}" /></a></p>
                    <p class="text-center mt-3"><a href="#" id="elf-login-cannotlogin">{{#str}} cannot_login, local_elf_login {{/str}}</a></p>
                </div>
            </div>

            {{! END: Teachers and students section }}

            {{! Others and guests section }}

            <div class="row justify-content-md-center hidden elf-login elf-login-other">
                <div class="col-md-5">
                    <form class="mt-3" action="{{loginurl}}" method="post" id="login">
                        <input id="anchor" type="hidden" name="anchor" value="">
                        <script>document.getElementById('anchor').value = location.hash;</script>
                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                        <div class="form-group">
                            <label for="username" class="sr-only">
                                {{^canloginbyemail}}
                                    {{#str}} username {{/str}}
                                {{/canloginbyemail}}
                                {{#canloginbyemail}}
                                    {{#str}} usernameemail {{/str}}
                                {{/canloginbyemail}}
                            </label>
                            <input type="text" name="username" id="username"
                                class="form-control"
                                value="{{username}}"
                                placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}
                                autocomplete="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                            <input type="password" name="password" id="password" value=""
                                class="form-control"
                                placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}
                                autocomplete="current-password">
                        </div>
                        {{#rememberusername}}
                            <div class="rememberpass mt-3">
                                <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                            </div>
                        {{/rememberusername}}

                        <button type="submit" class="btn btn-primary btn-block mt-3" id="loginbtn">{{#str}}login{{/str}}</button>
                    </form>
                </div>

                <div class="col-md-5">
                    <div class="forgetpass mt-3">
                        <p><a href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a></p>
                    </div>

                    <div class="mt-3">
                        {{#str}} cookiesenabled {{/str}}
                        {{{cookieshelpiconformatted}}}
                    </div>
                    {{#canloginasguest}}
                        <div class="mt-2">
                            <p>{{#str}}someallowguest{{/str}}</p>
                            <form action="{{loginurl}}" method="post" id="guestlogin">
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <input type="hidden" name="username" value="guest" />
                                <input type="hidden" name="password" value="guest" />
                                <button class="btn btn-secondary btn-block" type="submit">{{#str}}loginguest{{/str}}</button>
                            </form>
                        </div>
                    {{/canloginasguest}}

                {{#hasidentityproviders}}
                    <h6 class="mt-2">{{#str}} potentialidps, auth {{/str}}</h6>
                    <div class="potentialidplist" class="mt-3">
                        {{#identityproviders}}
                            <div class="potentialidp">
                                <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-secondary btn-block">
                                    {{#iconurl}}
                                        <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                    {{/iconurl}}
                                    {{name}}
                                </a>
                            </div>
                        {{/identityproviders}}
                    </div>
                {{/hasidentityproviders}}
                </div>
            </div>

            {{! END: Others and guests section }}
        </div>
    </div>
</div>
</div>
</div>


{{#hasinstructions}}
<div class="row justify-content-center mt-3">
<div class="col-xl-6 col-sm-8">
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h2>{{#str}}firsttime{{/str}}</h2>
        </div>
        <div>
        {{{instructions}}}
        {{#cansignup}}
            <form class="mt-3" action="{{signupurl}}" method="get" id="signup">
                <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
            </form>
        {{/cansignup}}
        </div>
    </div>
</div>
</div>
</div>
{{/hasinstructions}}

{{#maintenance}}
    <div class="row justify-content-center mt-3">
        <div class="col-xl-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>{{#str}}sitemaintenance, core_admin{{/str}}</h2>
                    </div>
                    <div>
                        {{{maintenance}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/maintenance}}
{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}

    {{! MUNI toggle }}
        require(['jquery'], function($) {
            $('.elf-login-toggle').click(function(e) {
                e.preventDefault();
                $('.elf-login-toggle').removeClass('active');
                $(this).addClass('active');

                $('.elf-login').addClass('hidden');
                $('.elf-login-' + $(this).attr('data-toggle')).removeClass('hidden');
            })
        });
    {{! END: MUNI toggle }}

    {{! MUNI can't login modal }}

    require(['jquery', 'core/modal_factory', 'core/templates'], function($, ModalFactory, Templates) {
        var trigger = $('#elf-login-cannotlogin');
        ModalFactory.create({
            title: '{{#str}} first_time_here, local_elf_login {{/str}}',
            body: Templates.render(
                'local_elf_login/firsttime_modal',
                { "ismunilink":  {{# quote }}{{ muni_is_front }}{{/ quote }}, "ismunipasslink": {{# quote }}{{ muni_is_pass }}{{/ quote }} }
            ),
        }, trigger)
        .done(function(modal) {});
    });

    {{! END: MUNI can't login modal }}
{{/js}}